.background {
    -fx-background-color: #ffffff;
}

/*
 * Error labels
 */
.error-label-sub {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-text-fill: #ff0015;
}

/*
 * Labels
 */
.label-big {
    -fx-font-size: 15pt;
    -fx-font-family: "Arial";
    -fx-text-fill: #240031;
}

.label-sub {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-text-fill: #240031;
}

.label-mid {
    -fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-text-fill: #240031;
}

/*
 * Text field
 */
.text-field {
    -fx-text-fill: #240031;
    -fx-focus-color: #240031;
    -fx-accent: #240031;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

/*
 * Button
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-background-color: #240031;
    -fx-font-family: "Arial";
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3b0250;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #240031;
}

.button-red {
    -fx-padding: 5 22 5 22;
    -fx-background-color: red;
    -fx-font-family: "Arial";
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button-red:hover {
    -fx-background-color: darkred;
}

.button-red:pressed, .button-red:default:hover:pressed {
    -fx-background-color: darkred;
}

/*
 * Label button
 */
.label-button {
    -fx-background-color: transparent;
    -fx-padding: 5 22 5 22;
    -fx-font-family: "Arial";
    -fx-font-size: 11pt;
    -fx-text-fill: #240031;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.label-button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #3b0250;
}

.label-button:pressed, .label-button:default:hover:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: #240031;
}

.label-button-menu-list {
    -fx-background-color: transparent;
    -fx-padding: 5 22 5 22;
    -fx-font-family: "Arial";
    -fx-font-size: 16pt;
    -fx-text-fill: #240031;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.label-button-menu-list:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #3b0250;
}

.label-button-menu-list:pressed, .label-button-menu-list:default:hover:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: #240031;
}

.back-button {
    -fx-background-color: transparent;
    -fx-font-family: "Arial";
    -fx-font-size: 12pt;
    -fx-text-fill: #240031;
    -fx-text-alignment: left;
}

.back-button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #3b0250;
}

/*
 * Header
 */

.pane-header {
    -fx-background-color: #240031;
    -fx-base : #240031;
}

/*
 * Dashboard buttons
 */

.user-manager-button {
    -fx-pref-width: 165px;
    -fx-pref-height: 165px;
    -fx-background-color: transparent;
    -fx-background-image: url('../images/menu_icon_user_management.png');
    -fx-background-repeat: no-repeat;
}

.user-manager-button:hover {
    -fx-pref-width: 165px;
    -fx-pref-height: 165px;
    -fx-background-color: transparent;
    -fx-background-image: url('../images/menu_icon_user_management-hover.png');
    -fx-background-repeat: no-repeat;
}

.import-data-button {
    -fx-pref-width: 165px;
    -fx-pref-height: 165px;
    -fx-background-color: transparent;
    -fx-background-image: url('../images/menu_icon_import_data.png');
    -fx-background-repeat: no-repeat;
}

.import-data-button:hover {
    -fx-pref-width: 165px;
    -fx-pref-height: 165px;
    -fx-background-color: transparent;
    -fx-background-image: url('../images/menu_icon_import_data-hover.png');
    -fx-background-repeat: no-repeat;
}

.insert-data-button {
    -fx-pref-width: 165px;
    -fx-pref-height: 165px;
    -fx-background-color: transparent;
    -fx-background-image: url('../images/menu_icon_insert_data.png');
    -fx-background-repeat: no-repeat;
}

.insert-data-button:hover {
    -fx-pref-width: 165px;
    -fx-pref-height: 165px;
    -fx-background-color: transparent;
    -fx-background-image: url('../images/menu_icon_insert_data-hover.png');
    -fx-background-repeat: no-repeat;
}

.search-button {
    -fx-pref-width: 165px;
    -fx-pref-height: 165px;
    -fx-background-color: transparent;
    -fx-background-image: url('../images/menu_icon_search.png');
    -fx-background-repeat: no-repeat;
}

.search-button:hover {
    -fx-pref-width: 165px;
    -fx-pref-height: 165px;
    -fx-background-color: transparent;
    -fx-background-image: url('../images/menu_icon_search-hover.png');
    -fx-background-repeat: no-repeat;
}

.logout-button {
    -fx-pref-width: 165px;
    -fx-pref-height: 165px;
    -fx-background-color: transparent;
    -fx-background-image: url('../images/menu_icon_logout.png');
    -fx-background-repeat: no-repeat;
}

.logout-button:hover {
    -fx-pref-width: 165px;
    -fx-pref-height: 165px;
    -fx-background-color: transparent;
    -fx-background-image: url('../images/menu_icon_logout-hover.png');
    -fx-background-repeat: no-repeat;
}